<!DOCTYPE html>
<html>
<style>

#keywords{
  
  border-radius:24px;
    font-size: 17px;
}
#faq{
    font-size: 28px;
    padding : 5px , 6px;
}
</style>
<head>
<meta charset="ISO-8859-1">
<title>FAQ</title>
</head>
<h1 style ="text-align : center">FAQ</h1>
<body>
<a href="Customerhomepage.jsp">
<img border="0" alt="go back" src="back.png" width="25" height="10">
Go back
</a>
<br><br>
<div id="keywordsdiv">

<input type="text" id="keywords"  placeholder="Search using Keywords" onkeyup="mySearch()" size =155>
  <input style="border-radius:24px;background-color: #00ffff;" type="submit" value="Search">
</div>
<div id = "faq">
<dl id="mylist">
<dt style ="  padding-top: 10px; padding-bottom:10px" ><a> 1-Can I cancel my reservation? <br>-Yes you can cancel your reservation.</a></dt>
<dt style ="  padding-top: 10px; padding-bottom:10px" ><a>2-How to make a reservation? <br>-You can use our website to make a reservation.</a></dt>
<dt style ="  padding-top: 10px; padding-bottom:10px" ><a> 3-Will I get a refund if I cancel my reservation? <br>-If a cancellation is made before 24 hours of depature no refund will be issued cancellations before 24 hours will be issued 50% refund.</a></dt>
<dt style ="  padding-top: 10px; padding-bottom:10px" ><a> 4-Is there any kind of discount offered to child/senior/disabled? <br>-Yes we offer discount to child/senior/disabled for more information contact our customer representative.</a></dt>
<dt style ="  padding-top: 10px; padding-bottom:10px" ><a> 5-Can I see list of stops made by the train ? <br>-Yes you are able to see the stops train will make throughout the route.</a></dt>
<dt style ="  padding-top: 10px; padding-bottom:10px" ><a> 6-How to view my current reservation? <br>-You can view your current reservation by logging in the account used to make the reservation.</a></dt>
<dt style ="  padding-top: 10px; padding-bottom:10px" ><a> 7-How can I contact customer representative? <br>-You can contact customer representative by sending message using the website.</a></dt>
<dt style ="  padding-top: 10px; padding-bottom:10px" ><a> 8-What if a train cancelled just few minutes before its schedule? <br>-This kind of situation is highly unlikely but if in case it happens we offer a full refund.</a></dt>
<dt style ="  padding-top: 10px; padding-bottom:10px" ><a> 9-Do I need to carry a phyical ticket with me or a digital one? <br>-While traveling in a train customer should have a either physical or digital copy of their reservation .</a></dt>


</dl>

</div>
</body>
<script>
function mySearch() {
    var keyword, filter, dl, dt, a, val
    keyword = document.getElementById("keywords")
    filter = keyword.value.toUpperCase()
    dl = document.getElementById("mylist")
    dt = dl.getElementsByTagName("dt")
    for (var i = 0; i < dt.length; i++) {
        a = dt[i].getElementsByTagName("a")[0]
        val = a.textContent || a.innerText
        if (val.toUpperCase().indexOf(filter) > -1) {
            dt[i].style.display = ""
        } else {
            dt[i].style.display = "none"
        }
    }
}
</script>
</html>